header {
    font-size: 40px;
    display: flex;
    align-items: center;
}

body.home{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 0px 0px 5px #FFFFFF; */
    background-image: url('assets/fractal.jpg');
    background-size: 300px;
    background-repeat: repeat;
    cursor: url('assets/small-clam.png'),auto;
}

body.zappa-dimension{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: chartreuse;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 0px 0px 5px #FFFFFF; */
    background-image: url('assets/zappa-red.jpg');
    background-size: 300px;
    background-repeat: repeat;
    cursor: url('assets/small-clam.png'),auto;
}

body.danger-prod{
    background-image: url('assets/juliafractal.png');
    background-size: 300px;
    background-repeat: repeat;
}

body.classiccarpage{
    background-image: url('assets/beigefractal.png');
    background-size: 300px;
    background-repeat: repeat;
}

body.secsi-page{
     background-image: url('assets/bombastic-fractal.png');
    background-size: 300px;
    background-repeat: repeat;
}

body.hot-models{
    background-image: url('assets/beigefractal2.png');
    background-size: 300px;
    background-repeat: repeat;
}

/* Use . for classes, # for IDs */

a {
cursor: inherit;  /* so clamimation works even on links */
}

a:hover {
    color: white;
}

.announcement{
    margin-top: 0%;
    font-size: 18px;
    font-style: italic;
    text-align: right;
    color: yellow;
    text-shadow: 4px 2px 5px #4001ff;
   /* background-color: rgba(200, 230, 255, 0.5);  /* 50% light blueish green */
}

.zappa-lyrics{
    margin-top: 0%;
    font-size: 25px;
    font-style: italic;
    text-align: right;
    color: chartreuse;
    text-shadow: 4px 4px 5px red;
   /* background-color: rgba(200, 230, 255, 0.5);  /* 50% light blueish green */
}

.name {
    text-decoration: none;
    margin-left: 20px;
    padding-left: 50px;
}
    
.logo-home {
    position: absolute;
    top: 30px;
    left: 10px;
/*    margin-right: 50px;*/
    justify-content: center;
}

.logo-home img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-right: 50px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-right: 50px;
}

.logo img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-right: 50px;
}

.menu-bar{
    display: flex;
    justify-content: right;
    text-align: right;
}

.container{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.textbox{
display: inline-block;
background-color: rgba(200, 230, 255, 0.5);  /* 50% light blueish green */
border-radius: 10px;
padding: 21px;
margin: 10px;
max-width: 50%;
}

.model-name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.headshot {
/*    margin-right: 30px;*/
    margin-bottom: 10px;
}

#headshot {
    border: solid 10px transparent;
    align-self: center;
}

#headshot:hover {
    border: solid 10px red;
    cursor: url('assets/clam-pearl.jpeg');
}

#toaster-cartoon{
    margin-top: 500px;
}


.car-link {
    font-size: 25px;
    background-color: chartreuse;
    border: 3px solid blue;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: inherit;
}

.car-link:hover{
/*    border-color: white;*/
background-color: orange;
}

.car-link > a{
    color: blue;
    text-decoration: none;
}

.car-link:hover a{
    text-decoration: underline;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
    border: solid blue;
    align-content: center;
    border-width: 3px;
    text-align: center;
    width: 200px;
}

.card:hover {
/*    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .4);*/
    background-color: chartreuse;
}

.card a {
    text-decoration: none;
    color: blue;
}

.card:hover a {
    text-decoration: underline;

}

.danger-card{
    border-color: red;
}

.danger-card:hover{
    background-color: yellow;
}

.danger-card:hover a{
/*    color: white;*/
}

a.danger{
    color: red;
}

table, th, td {
    border:1px solid black;
    background-color: rgb(166, 246, 255);
}

.button {
    background-color: rgb(172, 137, 91);
    border: 5px solid chartreuse;
    color: chartreuse;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 16px 2px;
  }

.phish-button {
    padding: 15px 40px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid white;
    text-transform: uppercase;
    cursor: inherit;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, orange, yellow);
    align-self: center;
    width: 90%;
}

.zappa-button {
    padding: 15px 40px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid white;
    cursor: inherit;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgb(0, 255, 21), yellow);
    align-self: center; /* aligns itself within parent container */
}

#phish-button:hover {
    color: blue;
    text-decoration: underline;
    border-color: blue;
}

  #classiccarpic {
    border:20px solid burlywood;
    margin: 16px;
  }

  #classiccarcaption {
    font-size: 30px;
  }


  /*mobile breakpoints */
@media (max-width: 780px) {

    .container{
        justify-content: center;
    }
    .textbox{
        max-width: 100vw;
    }
    .menu-bar{
        justify-content: center;
        text-align: center;
    }

    #headshot{
        max-width: 100%;
    }

    .card{
        min-width:80%;
    }

    .card-row{
        justify-content: center;
    }

    .name {
        font-size: 25px;
        margin-bottom: 30px;
    }