header {
    font-size: 40px;
    display: flex;
    align-items: center;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 4px 4px 5px #FFFFFF; */
}

body.home{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 0px 0px 5px #FFFFFF; */
    background-image: url('assets/fractal.jpg');
    background-size: 300px;
    background-repeat: repeat;
    cursor: url('assets/small-clam.png'),auto;
}

body.danger-prod{
    background-image: url('assets/juliafractal.png');
    background-size: 300px;
    background-repeat: repeat;
}

body.classiccarpage{
    background-image: url('assets/beigefractal.png');
    background-size: 300px;
    background-repeat: repeat;
}

/* Use . for classes, # for IDs */

a {
cursor: inherit;  /* so clamimation works even on links */
}

.name {
    text-decoration: none;
    margin-left: 20px;
    padding-left: 50px;
}
    
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-right: 50px;
}

.logo img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-right: 50px;
}

.menu-bar{
    align-items: right;
    justify-content: right;
    text-align: right;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.textbox{
display: inline-block; /* make box hug the text */
background-color: rgba(200, 230, 255, 0.5);  /* 50% light blueish green */
border-radius: 10px;
padding: 21px;
margin: 10px;
}

.headshot {
    margin-right: 30px;
    margin-bottom: 10px;
}

#headshot {
    border: solid 10px transparent;
}

#headshot:hover {
    border: solid 10px red;
    cursor: url('clam-pearl.png'), auto;
}

#toaster-cartoon{
    margin-top: 500px;
}

a.danger{
    font-size: 30px;
    color: red;
}

a.car-link{
    font-size: 25px;
    color: chartreuse;
    background-color: rgb(210, 160, 95);
    border: 3px solid chartreuse;
    padding: 10px 10px;
    cursor: inherit;
}

/* a.bar:visited{
    color: red;
} */

table, th, td {
    border:1px solid black;
    background-color: rgb(166, 246, 255)
}

.button {
    background-color: rgb(172, 137, 91);
    border: 5px solid chartreuse;
    color: chartreuse;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: inherit;
    font-family: 'Times New Roman';
    margin: 16px 2px;
  }

#phish-button {
    padding: 15px 40px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: inherit;
    background: linear-gradient(to right, orange, yellow);
    align-self: center; /* aligns itself within parent container */
}

  #classiccarpic {
    border:20px solid burlywood;
    margin: 16px;
  }

  #classiccarcaption {
    font-size: 30px;
  }
